
@use "../../variables" as *;

.hero {
	background-color: $background;
	position: relative;
	display: flex;
	padding: 30px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.lamp {
	max-width: 250px;
	position: absolute;
	top: 0;
	left: 30;
}



.textContainer {
	max-width: 738px;
}

.title {
	font-weight: 700;
	color: $main-color;
	font-size: 78px;
	line-height: 93.84px;
}
.description {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: $main-color;
	margin-top: 32px;
	letter-spacing: 3.5px;
	font-style: italic;
}

@media (max-width: 768px) {
	.hero {
		display: flex;
		flex-direction: column;
	}
	.heroImage {
			max-width: 450px;
		}
	.title {
		margin-top: 20px;
		font-size: 30px;
		line-height: 40.84px;
	}	
	.description {
		margin-top: 10px;
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
	.hero {
		display: flex;
		margin-top: 10px;
		flex-direction: column;
	}
}