.nav {
	// height: 30px;
	display: flex;
	// height: 100px;
}
.list {
    display: flex;
    gap: 24px;
	align-items: center;
  }
  .link {
    font-size: 1rem;
    color: $main-color;
  }

//   .logoImage {
// 	max-width: 100px;
// 	background: white;
// 	border-radius: 10%;
// 	padding: 10px;
//   }

  .active {
	background: purple;
	display: inline-block;
	min-height: 100px;
	display: flex;
	align-items: center;
	padding: 10px;
  }